.env-browser-wrapper,
.output_area .env-browser-wrapper {
    overflow: auto;
    max-height: 300px;
    line-height: 1;
}

.ui-dialog .env-browser-wrapper {
    overflow: auto;
    max-height: unset;
}


/* .env-browser thead {
 *     position: sticky;
 *     top: 0;
 * } */

table.env-browser {
    border-collapse: separate !important;
    border-spacing: 0;
}

table.env-browser-head {
    position: sticky;
    top: 0;
}

table.env-browser,
.output_area table.env-browser,
#pager-container table.env-browser,
#pager #pager-container table.env-browser,
.ui-resizable table.env-browser {
    width: 100%;
}



/* .env-browser .object-name-col {
 *     width: 15%;
 * }
 * 
 * .env-browser .toggle-col {
 *     width: 2%;
 * }
 * 
 * .env-browser .object-value-col {
 *     width: 83%;
 * } */

.env-browser .object-name {
    /* width: 15%; */
    width: 120px;
}


table.env-browser {
    margin: 0 !important;
}

details table.env-browser {
    box-sizing: border-box;
}


.env-browser th {
    text-align: left !important;
    color: black;
    background-color:  #f7f7f7;
    border-top: 1px solid #cfcfcf; 
    border-bottom: 1px solid #cfcfcf; 
    padding: 0.5ex 0.5ex;
}
.env-browser td {
    text-align: left !important;
    color: black;
    background-color: white;
    border-bottom: 1px solid #cfcfcf; 
    padding: 0.5ex 0.5ex;
}

.env-browser th.border-top,
.env-browser td.border-top {
    border-top: 1px solid #cfcfcf;    
}

.env-browser th.border-left,
.env-browser td.border-left {
    border-left: 1px solid #cfcfcf;    
}

.env-browser th.border-right,
.env-browser td.border-right {
    border-right: 1px solid #cfcfcf;    
}

.env-browser th.no-border-bottom,
.env-browser td.no-border-bottom {
    border-bottom: none;    
}


.env-browser td code {
    background: unset;
}

td.toggle-container {
    padding: 0;
    text-align: right;
}

td.toggle-container button {
    border: none;
    color: black;
    background: white;
}

tbody.subtable {
    max-height: 10ex;
    overflow-y: auto;
}

.subtable td {
    padding-left: 2em;
}


.browse_env {
    color: black;
    background-color: white;
    /* width: 100%; */
    border: 1px solid #cfcfcf; 
    box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2); 
    overflow: auto;
    /* height: 300px */
}

.env-browser-wrapper details > summary::marker {
    display: none;
    content:"";
}

.env-browser-wrapper details[open] > summary {
    margin-bottom: 0;
}

.env-browser-wrapper details[open] > .details-body {
    margin-bottom: 0;
}


.env-browser-wrapper details .object-name pre::after {
    content: "\0020\2BC7";
}

.env-browser-wrapper details[open] .object-name pre::after {
    content: "\0020\2BC6";
} 

.env-browser-wrapper details .object-details pre::before {
    content: "\0020\0020\0020";
}


.ui-dialog.env-browser-dialog {
    font-size: 11px;
}

.env-browser-dialog .ui-dialog-titlebar,
.env-browser-dialog .ui-dialog-content {
    padding: 0;
}

.env-browser-dialog .ui-dialog-titlebar {
    border-radius: 1px;
}

.env-browser-dialog .ui-dialog-title {
    padding: 0.5ex;
}

#output-wrapper .env-browser-wrapper {
    max-height: unset;
}


#output-wrapper {
     /* border: 1px solid #cfcfcf;  */
     box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2); 
}
