.resizer { display:flex; margin:0; padding:0; resize:both; overflow:hidden }
.vresizer { display:flex; margin:0; padding:0; resize:vertical; overflow:hidden }
.hresizer { display:flex; margin:0; padding:0; resize:horizontal; overflow:hidden }
.resizer > .resized,
.hresizer > .resized,
.vresizer > .resized { flex-grow:1; margin:0; padding:0; border:0 }
.debug-resizer { background:rgb(115, 210, 170); border:4px dashed black; }
